interactions:
- request:
    body: null
    headers:
      Authorization: [Basic ZWUxMWZiZTcxMGIyOjAwMTBmODlmNDM0ZDJmNzkzZTgzNmJiNDk0YTZmNjk0YzEwYzUxMDU0NA==]
    method: GET
    uri: https://api.backblaze.com/b2api/v1/b2_authorize_account
  response:
    body: {string: "{\n  \"accountId\": \"ee11fbe710b2\",\n  \"apiUrl\": \"https://api001.backblaze.com\",\n
        \ \"authorizationToken\": \"3_20160326225123_62ee482598f65ccc9b9755fb_9d88fe68fcfad798ec8b62f891926a77cc48bc1e_001_acct\",\n
        \ \"downloadUrl\": \"https://f001.backblaze.com\",\n  \"minimumPartSize\":
        100000000\n}\n"}
    headers:
      Content-Type: [application/json;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
